:root {
    font-size: 10px;
    --banner-color: #51534a;
    --gunmetal: #51534a;
    --gunmetal-tint: #d9dbd0;
    --anchorage-blue: #00629b;
    scroll-padding-top: calc(var(--header-height)*0.6);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*HEADER STYLES*/
header a,
header li,
header button {
    color: white;
}

header a,
header button {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.25s;
    background-color: var(--banner-color);
}

header a:hover,
header button:hover {
    color: var(--gunmetal-tint);
    transform: scale(1.05);
}

header a:focus,
header button:focus,
header input:focus,
header a:focus {
    color: var(--gunmetal-tint);
    transform: scale(1.08);
    outline: none;
    border: 0;
}

header [type="button"]:focus-visible {
    outline: none;
}

/*remove button default styling*/
header button {
    display: inline-block;
    border: none;
    text-decoration: none;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    background-color: var(--banner-color);
}

/*Font Stles*/
:root {
    --header1-size: 3.6rem;
    --header2-size: 2.6rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 1em;
}

h1 {
    font-size: var(--header1-size);
}

h2 {
    font-size: var(--header2-size);
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

a {
    font-size: 1.6rem;
}

@media (max-width:640px) {
    :root {
        --header1-size: 2.6rem;
        --header2-size: 2.3rem;
    }

    h1 {
        font-size: var(--header1-size);
    }

    h2 {
        font-size: var(--header2-size);
    }
}

/*ICON STYLES*/
svg {
    fill: white;
    height: 3rem;
    width: auto;
    margin: 1rem;
}

svg:focus,
svg:hover {
    transform: scale(1.05);
}

/*UTILITY CLASSES*/
/*positioning*/
.flex_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*colors*/
.bg_gunmetal {
    background-color: var(--gunmetal);
}

.bg_blue {
    background-color: var(--anchorage-blue);
}

.color_white {
    color: white;
}

a.color_white:focus,
a.color_white:hover,
button.color_white:focus,
button.color_white:hover {
    color: var(--gunmetal-tint);
}

.color_gunmetal {
    color: var(--gunmetal);
}

.color_gunmetal_tint {
    color: var(--gunmetal-tint);
}

a.color_gunmetal_tint:focus,
a.color_gunmetal_tint:hover,
button.color_gunmetal_tint:focus,
button.color_gunmetal_tint:hover {
    color: white;
}

.text_shadow_black {
    text-shadow: 0 0 black 8px;
}

/*borders*/
.border-radius {
    border-radius: 4px;
}