---
---

<div class="BlockPaddingWrapper">
    <slot />
</div>
<style>
    div {
        margin: 2rem;
    }
    @media (max-width: 640px) {
        div {
            margin: 1rem 2rem;
        }
    }
</style>
