---
---

<div class="outer-wrapper">
    <div class="inner-wrapper">
        <slot />
    </div>
</div>
<style>
    div.outer-wrapper {
        display: flex;
        justify-content: center;
    }
    div.inner-wrapper {
        margin: 2rem;
        max-width: 750px;
    }
    @media (max-width: 640px) {
        div.inner-wrapper {
            margin: 1rem 2rem;
        }
    }
</style>
