---
const { BackgroundImage } = Astro.props;
const BackgroundImageMed = `${
    BackgroundImage.split(".").join("Med.") + " 915w"
}`;
const BackgroundImageLge = `${BackgroundImage} + "1920w"`;
---

<section>
    <picture>
        <source
            srcset={BackgroundImageMed}
            type="image/jpeg"
            media="(max-width:639px)"
        />
        <source
            srcset={BackgroundImageLge}
            type="image/jpeg"
            media="(min-width:640px)"
        />
        <img src={BackgroundImage} />
    </picture>
    <slot />
</section>
<style>
    section {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: -1;
    }
    img {
        /*I learnt that object-fit requires width and height to be given...*/
        object-fit: cover;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    :global(#header-trigger) {
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>
