---
const { backgroundColor } = Astro.props;
---

<section>
    <slot />
</section>
<style define:vars={{ backgroundColor }}>
    section {
        background-color: var(--backgroundColor);
        min-height: 30vh;
        padding: 0 0 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
