---
---

<section>
    <div class="inner-wrapper">
        <slot />
    </div>
</section>
<style>
    section {
        background-color: #00629b;
        min-height: 30vh;
        padding: 1rem 2vw 4rem 2vw;
    }
    div.inner-wrapper {
        max-width: 750px;
        margin: 0 auto;
    }
    h3,
    p {
        color: white;
    }
</style>
