---
const { itemhref, itemName } = Astro.props;
---

<li><a href={itemhref}>{itemName}</a></li>

<style>
    a {
        color: var(--gunmetal-tint);
        height: 100%;
        display: inline-block;
        font-family: Montserrat;
        text-decoration: none;
        white-space: nowrap;
        transition: 0.25s;
        font-weight: 700;
        font-size: 16px;
    }
    a:hover,
    a:focus {
        color: white;
        transform: scale(1.05);
    }

    /* insert '|' spaced in between nav items */
    li:not(:first-of-type):before {
        padding-right: 20px;
        content: "|";
        font-weight: 400;
        color: var(--gunmetal-tint);
        z-index: 1;
    }
    li:last-of-type {
        padding-left: 20px;
    }
</style>
