---
import FacebookIcon from "./FacebookIcon.astro";
import InstagramIcon from "./InstagramIcon.astro";
import FooterNavItem from "./FooterNavItem.astro";
---

<hr />
<footer>
    <nav>
        <ul class="links">
            <FooterNavItem itemhref="#" itemName="Find Me A..." />
            <FooterNavItem itemhref="#" itemName="Contact" />
        </ul>
        <ul class="socials">
            <li><a href="#"><FacebookIcon /></a></li>
            <li><a href="#"><InstagramIcon /></a></li>
        </ul>
    </nav>
</footer>
<style>
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--banner-color);
        min-height: 20vh;
        font-size: 14px;
        padding: 2rem;
    }
    ul {
        list-style: none;
        display: flex;
        padding: 1rem 0;
        justify-content: center;
    }
    li {
        padding: 0 1rem;
    }
    footer a {
        color: var(--banner-color-tint);
        text-transform: none;
        height: 100%;
        display: inline-block;
    }
    footer a:hover {
        color: white;
    }
    hr {
        border: solid #fff 1px;
        width: 100%;
    }
</style>
