---
---

<button type="button" id="sidebar-toggle" class="hamburger">
    <div></div>
    <div></div>
    <div></div>
</button>
<style>
    #sidebar-toggle {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border: 0px;
        transition: 0.25s;
    }

    #sidebar-toggle div {
        background-color: #fff;
        height: 0.4em;
        transition: 0.4s;
        flex-shrink: 0;
        flex-grow: 0;
    }

    #sidebar-toggle.hamburger div {
        width: 3.5em;
        margin: 0.3em 0.1em 0.3em 0;
        border-radius: 10px;
    }
    button {
        align-self: center;
        padding-right: max(20px, 2vw);
        width: auto;
    }
    @media (max-width: 916px) {
        #sidebar-toggle {
            display: flex;
            margin-left: auto;
        }
    }
</style>
