---
//Can use checkbox with label for toggleable menu
//Can also use button
//Go with position: relative? They're also using position absolute a lot...
//opacity: 0 as a way of hiding something
//How to architect this? What about HeaderNavWrapper, HeaderNavItem, HeaderNavDropdown? This breaks the problem into discreet chunks.
//area-haspopup="true" aria-expanded="false" lets screen readers no if they click, a submenu will pop up.
---

<nav>
    <ul>
        <slot />
    </ul>
</nav>

<style>
    /*Clamp value to manually centre Nav based on header height changes.
    Align-items makes the list items centred*/
    nav {
        margin: 0px auto 0px auto;
        display: flex;
        align-items: center;
        transition: 0.25s;
        align-self: start;
        position: relative;
        top: clamp(10px, -25px + (var(--header-height) / 2), 25px);
    }
    /*GENERAL LIST AND BUTTON STYLES*/
    ul {
        display: flex;
        font-size: 1.4rem;
        list-style: none;
    }
</style>
