---
---

<button type="button" class="headerNavToggle hamburger">
    <div></div>
    <div></div>
    <div></div>
</button>
<style>
    .headerNavToggle {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--gunmetal);
        border: 0px;
        transition: 0.25s;
        cursor: pointer;
        font-size: 10px;
    }

    .headerNavToggle div {
        background-color: #fff;
        height: 0.4em;
        transition: 0.4s;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .headerNavToggle.hamburger div {
        width: 3.5em;
        margin: 0.3em 0.1em 0.3em 0;
        border-radius: 10px;
    }
    button {
        align-self: center;
        padding-right: max(20px, 2vw);
        width: auto;
    }
    .toggled div:nth-of-type(1) {
        border-radius: 10px;
        transform: rotate(45deg);
        position: relative;
        top: 0.85em;
    }

    .toggled div:nth-of-type(2) {
        width: 3.1em;
        margin: 0.15em 0.4em 0.15em 0;
        border-radius: 10px;
        transform: rotate(405deg);
        opacity: 0;
    }

    .toggled div:nth-of-type(3) {
        border-radius: 10px;
        transform: rotate(-45deg);
        position: relative;
        bottom: 0.85em;
    }
    @media (max-width: 916px) {
        .headerNavToggle {
            display: flex;
            margin-left: auto;
        }
    }
</style>
<script>
    const headerNavToggle = document.querySelector(".headerNavToggle");
    const headerNav = document.querySelector(".headerNav");
    headerNavToggle.addEventListener("click", () => {
        headerNav.classList.toggle("hidden");
        headerNavToggle.classList.toggle("toggled");
    });
</script>
