---
//aria-haspopup="true" aria-expanded="false" lets screen readers no if they click, a submenu will pop up.
---

<nav class="headerNav">
    <ul>
        <slot />
    </ul>
</nav>

<style>
    /*Clamp value to manually centre Nav based on header height changes.
    Align-items makes the list items centred*/
    nav {
        margin: 0px auto 0px auto;
        padding-left: 9vw;
        display: flex;
        align-items: center;
        transition: 0.25s;
        align-self: start;
        position: relative;
        top: clamp(10px, -25px + (var(--header-height) / 2), 25px);
    }
    /*GENERAL LIST AND BUTTON STYLES*/
    ul {
        display: flex;
        font-size: 1.4rem;
        list-style: none;
    }
    @media (max-width: 916px) {
        nav {
            position: absolute;
            top: var(--header-height);
            width: 100%;
            background-color: var(--gunmetal);
            padding-left: 0;
            flex-direction: column;
            display: none;
        }
        nav.hidden {
            display: flex;
        }
        ul {
            flex-direction: column;
            padding-bottom: 10px;
            align-items: center;
        }
    }
</style>
