---
---

<nav>
    <ul>
        <li>item</li>
        <li>item</li>
        <li>item</li>
    </ul>
</nav>

<style>
    nav {
        margin: auto;
    }
    ul {
        display: flex;
        font-size: 1.6rem;
        list-style: none;
    }
</style>
