---
const { itemhref, itemName } = Astro.props;
---

<li><a href={itemhref}>{itemName}</a></li>

<style>
    li {
        display: flex;
        align-items: center;
        max-height: 50px;
        padding-left: 20px;
        flex-shrink: 0;
    }
    /* insert '|' spaced in between nav items */
    li:not(:last-of-type):after {
        padding-left: 20px;
        content: "|";
        font-weight: 400;
        color: white;
    }
    li:last-of-type {
        padding-right: 20px;
    }
    a {
        font-family: Montserrat;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }
</style>
