---
---

<header class="header-wrapper">
    <slot />
</header>
<div id="header-trigger"></div>

<style>
    :root {
        --header-height: 10rem;
    }

    header {
        height: var(--header-height);
        background-color: var(--primary-color);
        position: fixed;
        width: 100%;
        transition: 0.25s;
        opacity: 0.8;
        display: flex;
        align-content: center;
    }

    #header-trigger {
        height: var(--header-height);
        transition: 0.25s;
    }

    .scrolled {
        opacity: 1;
    }
</style>

<script>
    const html = document.documentElement;
    const headerTrigger = document.querySelector("#header-trigger");
    const headerHeightInit = html.style.getPropertyValue("--header-height");
    const headerWrapper = document.querySelector(".header-wrapper");
    let options = {
        root: null,
        rootMargin: "0px",
        threshold: 1,
    };
    const obsCallback = (entries) => {
        entries.forEach((entry) => {
            if (!entry.isIntersecting) {
                html.style.setProperty("--header-height", "7em");
                console.log("not intersecting");
                headerWrapper.classList.add("scrolled");
            } else {
                html.style.setProperty("--header-height", headerHeightInit);
                console.log("intersecting");
                headerWrapper.classList.remove("scrolled");
            }
        });
    };

    let headerObserver = new IntersectionObserver(obsCallback, options);
    headerObserver.observe(headerTrigger);
</script>
