---
const { buttonName } = Astro.props;
---

<li class="headerNavDropdownWrapper">
    <button type="button" class="headerNavDropdownButton">{buttonName}</button>
    <ul class="headerNavDropdownList hidden">
        <slot />
    </ul>
</li>

<style>
    a,
    button {
        font-family: Montserrat;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
    }
    button {
        padding: 0px 1vw 0px 1vw;
        flex-basis: 50px;
    }
    li.headerNavDropdownWrapper:not(:last-of-type):after {
        padding-left: 1vw;
        content: "|";
        font-weight: 400;
        color: white;
        position: absolute;
        top: 1.65rem;
        right: -1px;
    }
    li {
        display: flex;
        align-items: center;
        flex-basis: 50px;
        flex-shrink: 0;
        flex-grow: 1;
    }
    li.headerNavDropdownWrapper {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        position: relative;
    }
    ul.headerNavDropdownList {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        padding: 0px 1vw 0px 1vw;
        position: relative;
        top: clamp(10px, -25px + (var(--header-height) / 2), 25px);
        transition: 0.25s;
    }
    ul.hidden {
        display: none;
    }
    /*Removing default button styling*/
    button {
        display: inline-block;
        border: none;
        text-decoration: none;
        font-size: 1.4rem;
        cursor: pointer;
        text-align: center;
        background-color: var(--primary-color);
    }
</style>
<script>
    const headerNavButtons = document.querySelectorAll(
        ".headerNavDropdownButton"
    );
    headerNavButtons.forEach((button) => {
        button.addEventListener("click", (event) => {
            // @ts-ignore
            event.target.nextElementSibling.classList.toggle("hidden");
        });
    });
</script>
