---
import AnchorageBaseLayout from "../../layouts/AnchorageBaseLayout.astro";
export async function getStaticPaths() {
    const allProfiles = await Astro.glob("../profiles/*.mdx");

    return [
        { params: { service: "supervisor" }, props: { profiles: allProfiles } },
        { params: { service: "mentor" }, props: { profiles: allProfiles } },
        {
            params: { service: "spiritual director" },
            props: { profiles: allProfiles },
        },
        { params: { service: "counsellor" }, props: { profiles: allProfiles } },
        { params: { service: "trainer" }, props: { profiles: allProfiles } },
        { params: { service: "mentor" }, props: { profiles: allProfiles } },
    ];
}

const { service } = Astro.params;
const { profiles } = Astro.props;
const filteredprofiles = profiles.filter((profile) =>
    profile.frontmatter.services.includes(service)
);
---

<AnchorageBaseLayout title={service}>
    <p>Does this work? {service}</p>
    <ul>
        {
            filteredprofiles.map((profile) => (
                <li>
                    <a href={profile.url}>{profile.frontmatter.name}</a>
                </li>
            ))
        }
    </ul>
</AnchorageBaseLayout>

<style>
    p,
    li,
    a {
        color: #51534a;
        font-size: 16px;
    }
</style>
