---
import AnchorageBaseLayout from "../../layouts/AnchorageBaseLayout.astro";
import { HeroBanner } from "@rkn/page-components";
import FindMeADropdown from "../../components/FindMeADropdown.astro";
const title = "Find Me A";
const allRoles = await Astro.glob("../profiles/*.mdx");
const roles = [
    ...new Set(allRoles.map((role) => role.frontmatter.services).flat()),
];
/* FOR IF YOU EVER WANT TO GENERATE THIS DYNAMICALLY
{ 
            roles.map((role) => (
                <div class="grid-item">
                    <p>
                        <a href={`/services/${role}`}>{role}</a>
                    </p>
                </div>
            ))
        }*/

/* SELECT MENU - how it was before - not best practice.
<select name="dropdown">
                    <option value="">Choose a role...</option>
                    <option value="trainer">Trainer</option>
                    <option value="supervisor">Supervisor</option>
                    <option value="spiritual director"
                        >Spiritual Director</option
                    >
                    <option value="mentor">Mentor</option>
                    <option value="coach">Coach</option>
                    <option value="counsellor">Counsellor</option>
                    <option value="yup">More</option>
                    <option value="yes">Options</option>
                    <option value="indeed">To choose</option>
                </select>*/
---

<AnchorageBaseLayout title={title}>
    <HeroBanner
        BackgroundImage="images/HeaderImage.jpg"
        HeroText="FIND ME A..."
    >
        <FindMeADropdown buttonName="Choose a service..." />
    </HeroBanner>
    <div class="services">
        <div class="grid-item">
            <h2>Training and Facilitation</h2>
            <p>
                Are you looking for a vibrant and skilled trainer or
                facilitator?
            </p>
            <p>
                The Anchorage Collective bring you grounded and effective
                encounters for your group. Talk to us about your needs.
            </p>
        </div>
        <div class="grid-item">
            <h2>Supervision</h2>
            <p>
                “In a nutshell, pastoral supervision is a relationship between
                two or more disciples who meet to consider the ministry of one
                or more of them in an intentional and disciplined way.”
            </p>
            <p>Jane Leach and Michael Paterson.</p>
        </div>
        <div class="grid-item">
            <h2>Spiritual Direction</h2>
            <p>
                Spiritual direction is a form of soul care where one or more
                people meet to pay attention to what God is saying and doing. It
                typically involves deep listening, some experimentation with
                different forms of prayer, and soul strengthening exercises.
            </p>
        </div>
        <div class="grid-item">
            <h2>Mentoring</h2>
            <p>
                Mentoring is an intentional relationship where someone seeks the
                wisdom, perspective and presence of another to learn from them.
            </p>
            <a href="http://www.mentoringnetwork.org.au/"
                >Visit the ACMN Website</a
            >
        </div>
        <div class="grid-item">
            <h2>Coaching</h2>
            <p>
                Coaching is an intentional relationship where a person seeks
                someone to assist them with setting and reaching goals in their
                life and/ or work.
            </p>
        </div>
        <div class="grid-item">
            <h2>Counselling</h2>
            <p>
                Counselling is a therapeutic relationship for the healing and
                development of an individual, couple, family or group.
            </p>
        </div>
    </div>
    <style>
        div.dropdown_wrapper_outer {
            /*z-index: 2;
            position: relative;
            margin: 0 auto;
            width: 60px;
            height: var(--header2-size);
        }
        div.dropdown_wrapper_inner {
            position: absolute;
            top: 0px;
            z-index: 2;*/
        }
        p,
        li,
        a,
        h2 {
            color: white;
            text-align: center;
        }
        p {
            max-width: 40ch;
            font-size: 20px;
        }
        a {
            font-size: 20px;
            padding-top: 1rem;
        }

        .services {
            display: grid;
            position: relative;
            grid-template-columns: repeat(auto-fill, calc(100% / 3));
        }
        .grid-item {
            min-height: 33vh;
            max-height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5rem 2rem;
        }
        .grid-item:nth-child(1) {
            background-color: #f7a145;
        }
        .grid-item:nth-child(2) {
            background-color: var(--gunmetal);
        }
        .grid-item:nth-child(3) {
            background-color: var(--anchorage-blue);
        }
        .grid-item:nth-child(4) {
            background-color: var(--anchorage-blue);
        }
        .grid-item:nth-child(5) {
            background-color: #d14f42;
        }
        .grid-item:nth-child(6) {
            background-color: #f7a145;
        }
        @media (max-width: 915px) {
            .services {
                grid-template-columns: repeat(2, 50%);
            }
            .grid-item:nth-child(4) {
                background-color: #d14f42;
            }
            .grid-item:nth-child(5) {
                background-color: var(--gunmetal);
            }
        }
        @media (max-width: 640px) {
            .services {
                grid-template-columns: 100%;
            }
        }
    </style>
</AnchorageBaseLayout>
