---
---

<button type="button" id="sidebar-toggle" class="arrow">
    <div></div>
    <div></div>
    <div></div>
</button>
<style>
    #sidebar-toggle {
        width: 5em;
        height: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
        background-color: #702082;
        border: solid #702082 1px;
        transition: 0.25s;
    }

    #sidebar-toggle div {
        background-color: #fff;
        height: 0.4em;
        transition: 0.4s;
        flex-shrink: 0;
        flex-grow: 0;
    }

    #sidebar-toggle.hamburger div {
        width: 3.5em;
        margin: 0.3em 0.1em 0.3em 0;
        border-radius: 10px;
    }

    #sidebar-toggle div.arrow {
        height: 0.3em;
    }

    #sidebar-toggle.arrow div:nth-of-type(1) {
        width: 1.9em;
        border-radius: 10px;
        transform: rotate(-45deg);
        margin: 0.6em 2.5em 0 0;
    }

    #sidebar-toggle.arrow div:nth-of-type(2) {
        width: 3.1em;
        margin: 0.15em 0.4em 0.15em 0;
        border-radius: 10px;
    }

    #sidebar-toggle.arrow div:nth-of-type(3) {
        width: 1.9em;
        border-radius: 10px;
        transform: rotate(45deg);
        margin: 0 2.5em 0.6em 0;
    }
</style>
