---
import AnchorageBaseLayout from "../layouts/AnchorageBaseLayout.astro";
---

<AnchorageBaseLayout />
<main style="font-size: 16px;">
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
		doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
		perspiciatis magnam explicabo nulla, corporis, libero recusandae
		voluptatem modi autem? Repudiandae, quae.
	</p>
</main>
