---
import AnchorageBaseLayout from "../layouts/AnchorageBaseLayout.astro";
import { HeroImage } from "@rkn/page-components";
import HeaderImage from "../images/HeaderImage.jpg";
---

<AnchorageBaseLayout />
<main style="font-size: 16px;">
	<HeroImage BackgroundImage={HeaderImage}>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
			doloremque! Eligendi sapiente non nemo ullam molestiae voluptatum ex
			perspiciatis magnam explicabo nulla, corporis, libero recusandae
			voluptatem modi autem? Repudiandae, quae.
		</p>
	</HeroImage>
</main>
