---
import AnchorageBaseLayout from "../layouts/AnchorageBaseLayout.astro";
import { HeroBanner } from "@rkn/page-components";
const allProfiles = await Astro.glob("./profiles/*.mdx");
const title = "Profiles";
---

<AnchorageBaseLayout title={title}>
    <HeroBanner
        BackgroundImage="images/HeaderImage.jpg"
        HeroText="A collective of expert practitioners seeking to equip others in transforming, growing, and bridging the gap between aspiration and reality."
    />
    <ul>
        {
            allProfiles.map((profile) => (
                <li>
                    <img src={profile.frontmatter.image} />
                    <a href={profile.url}>{profile.frontmatter.name}</a>
                </li>
            ))
        }
    </ul>
</AnchorageBaseLayout>

<style>
    ul {
        padding: 4rem;
    }
    li,
    a {
        color: #51534a;
        font-size: 16px;
    }
    li {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    img {
        max-width: 200px;
        height: auto;
    }
    /*HERO TEXT STYLING*/
    h2 {
        color: white;
        text-shadow: 0 0 8px black;
        z-index: 1;
        transition: 0.25s;
        font-size: 36px;
        text-align: center;
        max-width: 80%;
    }
    @media (max-width: 640px) {
        h2 {
            font-size: 23px;
            max-width: 90%;
        }
    }
</style>
