---
import AnchorageBaseLayout from "../layouts/AnchorageBaseLayout.astro";
import { HeroImageScroll } from "@rkn/page-components";
---

<AnchorageBaseLayout title="Who We Are">
    <HeroImageScroll BackgroundImage="/images/HeaderImage.jpg">
        <h2>
            The Anchorage is a Place of Formation. For your encounters with
            Jesus, your community, and your professional practice. For you.
        </h2>
    </HeroImageScroll>
</AnchorageBaseLayout>
<style>
    h2 {
        color: white;
        text-transform: capitalize;
        text-shadow: 0 0 8px black;
        text-align: center;
    }
</style>
