---
import AnchorageBaseLayout from "../layouts/AnchorageBaseLayout.astro";
import {
    HeroImageScroll,
    SectionWrapper,
    BlockSingleColumn,
} from "@rkn/page-components";
---

<AnchorageBaseLayout title="Who We Are">
    <HeroImageScroll BackgroundImage="/images/HeaderImage.jpg">
        <h2 class="hero">
            The Anchorage is a Place of Formation. For your encounters with
            Jesus, your community, and your professional practice. For you.
        </h2>
    </HeroImageScroll>
    <SectionWrapper backgroundColor="var(--gunmetal)">
        <BlockSingleColumn>
            <h2>Our Heart</h2>
            <h4>
                Journeying alongside peopel for growth; in Christ, in calling,
                in our identity
            </h4>
            <p>
                The Anchorage is a collective of wholistic practitioners who
                have demonstrated grounded spirituality over the long haul. We
                do not come to the table as masters, but apprentices.We seek to
                craft vibrant and safe contexts for you to grow and renew. We
                carry our learnings, our failures and our breakthroughs with us
                as a living expression of faith and hope.
            </p>
        </BlockSingleColumn>
    </SectionWrapper>
</AnchorageBaseLayout>
<style>
    h2.hero {
        color: white;
        text-transform: capitalize;
        text-shadow: 0 0 8px black;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h2,
    h4,
    p {
        color: white;
    }
</style>
