---
---

<hr />
<footer>
    <nav>
        <ul class="links">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
        </ul>
        <ul class="socials">
            <li>Facebook</li>
            <li>Insta</li>
        </ul>
    </nav>
</footer>
<style>
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--gunmetal);
        min-height: 20vh;
        font-size: 14px;
    }
    ul {
        list-style: none;
        display: flex;
        padding: 1rem 0;
    }
    li {
        padding: 0 1rem;
    }
    footer a {
        color: var(--gunmetal-tint);
        text-transform: none;
    }
    footer a:hover {
        color: white;
    }
    hr {
        border: solid #fff 1px;
        width: 100%;
    }
</style>
