---
import { BaseLayout } from "@rkn/base-components";
import AnchorageHeader from "../components/AnchorageHeader.astro";
import AnchorageFooter from "../components/AnchorageFooter.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
    <body>
        <AnchorageHeader />
        <main>
            <slot>
                <div class="placeholder">
                    <p>
                        Here is some placeholder content. It will disappear when
                        you put your own content in :)
                    </p>
                </div>
            </slot>
        </main>
        <AnchorageFooter />
    </body>
</BaseLayout>
<style>
    div.placeholder {
        height: 80vh;
    }
</style>
