---
import "../styles/normalize.css";
import "../styles/global.css";
import { HeaderWrapper } from "@rkn/header-components";
import { HeaderLogo } from "@rkn/header-components";
import { HeaderNav } from "@rkn/header-components";
import textLogo from "../images/AnchorageTextLogo.png";
import { HeaderNavItem } from "@rkn/header-components";
import { HeaderNavDropdown } from "@rkn/header-components";
import { HeaderNavDropdownItem } from "@rkn/header-components";
import { HeaderHamburger } from "@rkn/header-components";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body>
        <HeaderWrapper>
            <HeaderLogo
                textLogo={textLogo}
                logoAltText="Anchorage Collective Logo"
            />
            <HeaderNav>
                <HeaderNavItem itemhref="#" itemName="item 1" component />
                <HeaderNavItem itemhref="#" itemName="item 2" component />
                <HeaderNavItem itemhref="#" itemName="item 3" component />
                <HeaderNavDropdown buttonName="Test Item">
                    <HeaderNavDropdownItem itemhref="#" itemName="test item" />
                    <HeaderNavDropdownItem itemhref="#" itemName="test item" />
                    <HeaderNavDropdownItem itemhref="#" itemName="test item" />
                </HeaderNavDropdown>
                <HeaderNavDropdown buttonName="Test Item">
                    <HeaderNavDropdownItem itemhref="#" itemName="test item" />
                    <HeaderNavDropdownItem itemhref="#" itemName="test item" />
                    <HeaderNavDropdownItem itemhref="#" itemName="test item" />
                </HeaderNavDropdown>
            </HeaderNav>
            <HeaderHamburger />
        </HeaderWrapper>
        <slot />

        <style is:global>
            :root {
                font-family: "Source Sans Pro", sans-serif;
            }
            h1,
            h2 {
                font-family: "Montserrat", sans-serif;
            }
        </style>
    </body>
</html>
